
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 2.5%;
    z-index: 10;
}

.izquierda {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px;               
}
.titulo-hades {
    font-size: 28px;
    letter-spacing: 6px;
    font-weight: 700;
    font-family: 'Syncopate', sans-serif;
}
.titulo img{
    width: 30%;
    text-align: left;
}
.titulo{
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
    padding-left: 0;
}

.menu a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    margin-left: 0; 
}
.menu a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0%;
    background-color: #c4a16d;
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}
.hero {
    width: 100%;
    background-image: url(../img/Gemini_Generated_Image_7bd45w7bd45w7bd4.png);
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productos {
    padding: 120px 60px;
    text-align: center;
    padding: 50px 10%;
    flex: 1;
}

.productos h2 {
    font-size: 32px;
    margin-bottom: 60px;
    letter-spacing: 4px;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.producto-pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.producto-pie span {
    font-size: 18px;
    color: #c4a16d;
    display: block;
    width: 40%;
}

.producto-pie button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 18px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.producto-pie button:hover {
    background-color: #c4a16d;
    border-color: #c4a16d;
    color: black;
}

.cajas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    overflow: hidden;
}
.coche {
    min-width: 0; 
    background-color: black;
    transition: transform 0.4s ease;
    padding: 3%;
}

.coche:hover {
    transform: translateY(-10px);
}

.coche img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.footer {
    background-color: black;
    padding: 40px 5%;
    width: 100%;
    margin-top: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}

.redes img {
    width: 22px;
    margin-left: 15px;
    opacity: 0.7;
    transition: 0.3s ease;
}

.redes img:hover {
    opacity: 1;
    transform: scale(1.2);
}

 